node-red/prusa_printer_status.json
[
    {
        "id": "2c5729897e17fb87",
        "type": "tab",
        "label": "Prusa Printer Status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "18ca20085f316fed",
        "type": "http request",
        "z": "2c5729897e17fb87",
        "name": "Prusa get status",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://PRUSA_MINI_HOST_ADDRESS/api/printer",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-Api-Key",
                "valueType": "other",
                "valueValue": "PRUSA_API_KEY"
            }
        ],
        "credentials": {},
        "x": 320,
        "y": 260,
        "wires": [
            [
                "9fd6e2cb69815d24",
                "dc47d4bfd83371b4",
                "d6ca3a1e0f623465",
                "79a594492bea2fdb"
            ]
        ]
    },
    {
        "id": "518dba160a6bf4ce",
        "type": "inject",
        "z": "2c5729897e17fb87",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "18ca20085f316fed",
                "130dbb6fc9ce15da",
                "f7f4cfb9e4a99a8a"
            ]
        ]
    },
    {
        "id": "9fd6e2cb69815d24",
        "type": "debug",
        "z": "2c5729897e17fb87",
        "name": "Prusa status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "dc47d4bfd83371b4",
        "type": "switch",
        "z": "2c5729897e17fb87",
        "name": "is ready?",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "text",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 100,
        "wires": [
            [
                "a737c0e7dfbfd712"
            ]
        ]
    },
    {
        "id": "21d3aedcea4ce49e",
        "type": "link out",
        "z": "2c5729897e17fb87",
        "name": "Link Out - Prusa",
        "mode": "link",
        "links": [
            "7329ac4ec687dbe0"
        ],
        "x": 955,
        "y": 300,
        "wires": []
    },
    {
        "id": "528c17d2c763b16c",
        "type": "ui_text",
        "z": "2c5729897e17fb87",
        "group": "47e3e9ed88608d27",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Checked",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 560,
        "y": 540,
        "wires": []
    },
    {
        "id": "130dbb6fc9ce15da",
        "type": "moment",
        "z": "2c5729897e17fb87",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Etc/UTC",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "yyyy-MM-DD_HH-mm-ss",
        "locale": "en-US",
        "output": "",
        "outputType": "msg",
        "outTz": "Etc/UTC",
        "x": 360,
        "y": 540,
        "wires": [
            [
                "528c17d2c763b16c"
            ]
        ]
    },
    {
        "id": "56e033565cd40bb9",
        "type": "function",
        "z": "2c5729897e17fb87",
        "name": "printer_up false",
        "func": "var msg = {payload: false}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 160,
        "wires": [
            [
                "6283627e521c30e8"
            ]
        ]
    },
    {
        "id": "a737c0e7dfbfd712",
        "type": "function",
        "z": "2c5729897e17fb87",
        "name": "printer_up true",
        "func": "var msg = {payload: true}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 100,
        "wires": [
            [
                "6283627e521c30e8"
            ]
        ]
    },
    {
        "id": "6e008b49f70e767b",
        "type": "catch",
        "z": "2c5729897e17fb87",
        "name": "",
        "scope": [
            "18ca20085f316fed"
        ],
        "uncaught": false,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "56e033565cd40bb9"
            ]
        ]
    },
    {
        "id": "6283627e521c30e8",
        "type": "ui_led",
        "z": "2c5729897e17fb87",
        "order": 3,
        "group": "47e3e9ed88608d27",
        "width": 0,
        "height": 0,
        "label": "Printer Up",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00b800",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Printer Up",
        "x": 1000,
        "y": 160,
        "wires": []
    },
    {
        "id": "af0c9d508eb6336f",
        "type": "ui_led",
        "z": "2c5729897e17fb87",
        "order": 3,
        "group": "f4f4f8f287721c88",
        "width": 0,
        "height": 0,
        "label": "Printing?",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00b800",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Printing",
        "x": 1000,
        "y": 260,
        "wires": []
    },
    {
        "id": "d6ca3a1e0f623465",
        "type": "function",
        "z": "2c5729897e17fb87",
        "name": "payload from .state.flags.printing",
        "func": "var newmsg = {payload: msg.payload.state.flags.printing};\n\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 260,
        "wires": [
            [
                "af0c9d508eb6336f"
            ]
        ]
    },
    {
        "id": "79a594492bea2fdb",
        "type": "switch",
        "z": "2c5729897e17fb87",
        "name": "is printing?",
        "property": "payload.state.flags.printing",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 300,
        "wires": [
            [
                "21d3aedcea4ce49e"
            ]
        ]
    },
    {
        "id": "f7f4cfb9e4a99a8a",
        "type": "http request",
        "z": "2c5729897e17fb87",
        "name": "esp32 camera",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://ESP32_CAMERA_ADDRESS:8081",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "credentials": {},
        "x": 320,
        "y": 620,
        "wires": [
            [
                "84292bb4ad5fe295"
            ]
        ]
    },
    {
        "id": "84292bb4ad5fe295",
        "type": "image",
        "z": "2c5729897e17fb87",
        "name": "",
        "width": "320",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": true,
        "outputs": 1,
        "x": 500,
        "y": 620,
        "wires": [
            [
                "325cbb815ea0f2bd"
            ]
        ]
    },
    {
        "id": "b77be9c32c3ca37d",
        "type": "ui_template",
        "z": "2c5729897e17fb87",
        "group": "47e3e9ed88608d27",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<img ng-src=\"{{msg.payload}}\"/>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "325cbb815ea0f2bd",
        "type": "function",
        "z": "2c5729897e17fb87",
        "name": "generate html image",
        "func": "var getImageResult = msg.payload;\nvar b64encoded = getImageResult.toString('base64');\nmsg.payload = \"data:image/jpg;base64,\" + b64encoded;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 620,
        "wires": [
            [
                "b77be9c32c3ca37d"
            ]
        ]
    },
    {
        "id": "e5a102306a1f8aef",
        "type": "comment",
        "z": "2c5729897e17fb87",
        "name": "",
        "info": "Unfortunately trigger camera will fetch\nimage from device for the second time",
        "x": 1040,
        "y": 300,
        "wires": []
    },
    {
        "id": "47e3e9ed88608d27",
        "type": "ui_group",
        "name": "Printer State",
        "tab": "aad737c4f3643d30",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f4f4f8f287721c88",
        "type": "ui_group",
        "name": "Time Lapse",
        "tab": "aad737c4f3643d30",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aad737c4f3643d30",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]